name: template update check

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'  # Run at 00:00 on the first day of each month

jobs:
  check_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: install dependencies
        run: pip install requests
      - name: get latest pypackage release
        id: get_latest_release
        run: |
          import requests
          release = requests.get('https://api.github.com/repos/12rambau/pypackage/releases').json()[0]["tag_name"]
          print(f"latest={release}", file="$GITHUB_OUTPUT")
          print(f"latest release: {release}")
      - name: get current pypackage version
        id: get_current_version
        run: |
          import yaml
          from pathlib import Path
          release = yaml.safe_load(Path(".copier_answers.yml").read_text())["_commit"]
          print(f"current={release}", file="$GITHUB_OUTPUT")
          print(f"current release: {release}")
      - name: call dispatch
        if: steps.get_current_version.outputs.current != steps.get_latest_release.outputs.latest
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: pypackage_update.yaml
          inputs: {% raw -%}'{"version": "${{ steps.get_latest_release.outputs.latest }}" }'{% endraw %}
