"""The init file of the extention.

This is where the extention is loaded and the sphinx builder is extended.
"""
from __future__ import annotations

from typing import Any, Dict

from sphinx.application import Sphinx

from .demo_role import _NODE_VISITORS, DemoRole, demo_node

__version__ = "0.0.0"
__author__ = "{{ author_first_name }} {{ author_last_name }}"
__email__ = "{{ author_email }}"


def setup(app: Sphinx) -> Dict[str, Any]:
    """Add icon node to the sphinx builder."""
    # add the node and role to the sphinx builder
    app.add_node(demo_node, **_NODE_VISITORS)  # type: ignore
    app.add_role("demo-role", DemoRole())

    return {
        "version": __version__,
        "parallel_read_safe": True,
        "parallel_write_safe": True,
    }