{% set project_name_length = project_name | length %}
{{ project_name }}
{{ "=" * project_name_length }}

.. |license| image:: https://img.shields.io/badge/License-MIT-yellow.svg?logo=opensourceinitiative&logoColor=white
    :target: LICENSE
    :alt: License: MIT

.. |commit| image:: https://img.shields.io/badge/Conventional%20Commits-1.0.0-yellow.svg?logo=git&logoColor=white
   :target: https://conventionalcommits.org
   :alt: conventional commit

.. |black| image:: https://img.shields.io/badge/code%20style-black-000000.svg
   :target: https://github.com/psf/black
   :alt: Black badge

.. |prettier| image:: https://img.shields.io/badge/code_style-prettier-ff69b4.svg?logo=prettier&logoColor=white
   :target: https://github.com/prettier/prettier
   :alt: prettier badge

.. |pre-commmit| image:: https://img.shields.io/badge/pre--commit-active-yellow?logo=pre-commit&logoColor=white
    :target: https://pre-commit.com/
    :alt: pre-commit

.. |pypi| image:: https://img.shields.io/pypi/v/{{ github_repo_name }}?color=blue&logo=pypi&logoColor=white
    :target: https://pypi.org/project/{{ github_repo_name }}/
    :alt: PyPI version

.. |build| image:: https://img.shields.io/github/actions/workflow/status/{{ github_user }}/{{ github_repo_name }}/unit.yaml?logo=github&logoColor=white
    :target: https://github.com/{{ github_user }}/{{ github_repo_name }}/actions/workflows/unit.yaml
    :alt: build

.. |coverage| image:: https://img.shields.io/codecov/c/github/{{ github_user }}/{{ github_repo_name }}?logo=codecov&logoColor=white
    :target: https://codecov.io/gh/{{ github_user }}/{{ github_repo_name }}
    :alt: Test Coverage

.. |docs| image:: https://img.shields.io/readthedocs/{{ github_repo_name }}?logo=readthedocs&logoColor=white
    :target: https://{{ github_repo_name }}.readthedocs.io/en/latest/
    :alt: Documentation Status

|license| |commit| |black| |prettier| |pre-commmit| |pypi| |build| |coverage| |docs|

Overview
--------

{{ short_description }}

Credits
-------

This package was created with `Copier <https://copier.readthedocs.io/en/latest/>`__ and the `@12rambau/pypackage <https://github.com/12rambau/pypackage>`__ {{ _commit }} project template.
